* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.img-logo {
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 60px;
}

.profile-avatar {
    height: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }